
@charset "UTF-8";
.hidden { display: none;}

body {
    margin: 0;
    display: grid;
    justify-content: center;
    background: #39B54A;
}

.container {
    height: 1081px;
    display: grid;
}

.grid {
    display: grid;
    grid-template-columns:  repeat(12, 127px);
    column-gap: 20px ;
    padding: 0 88px;
    grid-template-rows: repeat(5, 160px) ;
    row-gap: 70px;
}

.col1 { grid-column: 1/2;}
.col2 { grid-column: 2/3;}
.col3 { grid-column: 3/4;}
.col4 { grid-column: 4/5;}
.col5 { grid-column: 5/6;}
.col6 { grid-column: 6/7;}
.col7 { grid-column: 7/8;}
.col8 { grid-column: 8/9;}
.col9 { grid-column: 9/10;}
.col10 { grid-column: 10/11;}
.col11 { grid-column: 11/12;}
.col12 { grid-column: 12/-1;}

.row1 { grid-row: 1/2;}
.row2 { grid-row: 2/3;}
.row3 { grid-row: 3/4;}
.row4 { grid-row: 4/5;}
.row5 { grid-row: 5/6;}

.drop-board {
    grid-column: 1/10;
    display: grid;
    grid-template-columns:  repeat(8, 127px);
    column-gap: 20px ;
    /* padding: 0 88px; */
    grid-template-rows: repeat(5, 160px) ;
    row-gap: 70px;
}

.dropZone {
    background-color: rgba(240, 248, 255, 0.498);
    text-align: center;
    width: 127px;
    height: 160px;
    border: 1px dotted gray;
    float: left;
	position: relative;
}


.background {
    background: url("../images/mixer_background.jpg") no-repeat;
}

#tree {
    background: url("../images/tree-panel.svg") no-repeat;
    position: absolute;
    justify-self: end;
    top: 0;
    width: 970px;
    height: 1081px;
}
.panel {
    position: relative;
    grid-column: 10/-1;
    /* background: #be9366; */
    width: 381px;
    height: 1080px;
    margin-left: 107px;

    display: grid;
    grid-template-columns:  repeat(2, 127px);
    column-gap: 40px ;
    padding-left: 20px;
    grid-template-rows: repeat(5, 160px) ;
    row-gap: 70px;
}

#characterCon {
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollIcon {
    font-size: 4em;
    color: #603814;
}

#scroller {    
    background: #603814;
    border-radius: 5rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;    
    width: fit-content;   
    scroll-behavior: smooth; 
}

#scroller::-webkit-scrollbar {
    /* background: #603814;
    border-radius: 20px;
    border: 2px solid ; */
    display: none;
}

/* #scroller::-webkit-scrollbar-thumb {
    background-color: #be9366;
    border-radius: 20px;
    border: 2px solid #603814;
} */


.characterHold {
    width: 127px;
    background-color: #be936617;
    /* text-align: center; */
    padding: 30px 0;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    scroll-margin: 20px;
    color: #fff;
}

.characterHold img {
    height: 200px;
}


#controls {
    padding-top: 50px;
    grid-row: 1/5;
    justify-content: space-evenly;
    display: inline-flex;
    flex-direction: column;
}

button {
    padding: 10px;
    font-size: 4em;
    border: none;
    background:none;
    color: #603814;
}
/*This is to size the image when they are dropped in the drop zone*/
img.small {
    width: 127px;
    height: 160px;
}

/* .anim {
	width: 200px;
	height: 334px;
	display: block;	
	background: transparent url(../images/sm-red_anim.png) 0 0 no-repeat;
	margin: 5px auto;
	animation: bird 1.5s steps(9)infinite;
}


@keyframes bird {
	0% {background-position: 0 0;}
	100% {background-position: 0 -3000px;}
}
 */
